<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VueModelAutoset</title>
</head>

<body>
  <div id="app">
    message: <input type="text" v-model="obj.message" /><br>
    test: <input type="text" v-model="obj.test" />
    <br>
    <pre>{{ obj }}</pre>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="../dist/index.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        obj: {
          // notice: we initing only 'message', but not 'test'
          message: ''
        }
      }
    });
  </script>
</body>

</html>
